In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
mydata = np.random.randn(4,3)

In [3]:
mydata

array([[-0.61185298, -0.23334593, -0.64822971],
       [-1.07527665,  0.34638223, -0.04538027],
       [ 0.93011205,  1.09810753, -1.58118126],
       [ 0.01566503,  2.77081255,  0.27186203]])

In [4]:
list("ABCDE")
##字串與list的轉換：list(字串)

['A', 'B', 'C', 'D', 'E']

In [7]:
df1 = pd.DataFrame(mydata, columns=list("ABC"))
##自訂dataframe：新的dataframe = pd.DataFrame(array, columns=項目list)

In [8]:
df1

          A         B         C
0 -0.611853 -0.233346 -0.648230
1 -1.075277  0.346382 -0.045380
2  0.930112  1.098108 -1.581181
3  0.015665  2.770813  0.271862

In [9]:
df2 =  pd.DataFrame(np.random.randn(3,3), columns=list("ABC"))

In [10]:
df2

          A         B         C
0 -1.501889 -0.056591 -1.272326
1  0.046818 -0.329816 -1.077737
2 -0.978822 -0.496015  1.476066

In [11]:
df3 = pd.concat([df1,df2], axis=0)
##合併dataframe：新的dataframe = pd.concat(dataframe的list, axis=0)
#axis控制合併的方向, 0是上下合併, 1是左右合併

In [12]:
df3

          A         B         C
0 -0.611853 -0.233346 -0.648230
1 -1.075277  0.346382 -0.045380
2  0.930112  1.098108 -1.581181
3  0.015665  2.770813  0.271862
0 -1.501889 -0.056591 -1.272326
1  0.046818 -0.329816 -1.077737
2 -0.978822 -0.496015  1.476066

In [13]:
df3.index=range(7)
##更改dataframe的index：df名稱.index = 要給的list

In [14]:
df3

          A         B         C
0 -0.611853 -0.233346 -0.648230
1 -1.075277  0.346382 -0.045380
2  0.930112  1.098108 -1.581181
3  0.015665  2.770813  0.271862
4 -1.501889 -0.056591 -1.272326
5  0.046818 -0.329816 -1.077737
6 -0.978822 -0.496015  1.476066

In [15]:
df4 = pd.concat([df1,df2], axis=1)

In [16]:
df4

          A         B         C         A         B         C
0 -0.611853 -0.233346 -0.648230 -1.501889 -0.056591 -1.272326
1 -1.075277  0.346382 -0.045380  0.046818 -0.329816 -1.077737
2  0.930112  1.098108 -1.581181 -0.978822 -0.496015  1.476066
3  0.015665  2.770813  0.271862       NaN       NaN       NaN