In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(5,3), 
                  index=list(range(1,6)),
                 columns=list("ABC"))

In [4]:
df

          A         B         C
1 -1.386738 -0.608493 -0.636761
2 -0.033372  0.351951  0.439233
3 -0.073011 -0.231896  1.081203
4  0.456821 -1.832951  1.363429
5 -0.475304 -1.036688 -0.435315

In [6]:
df[df.B>0]

          A         B         C
2 -0.033372  0.351951  0.439233

In [8]:
df.loc[2:3,"B":"C"]#先列在行

          B         C
2  0.351951  0.439233
3 -0.231896  1.081203

In [9]:
df.loc[2,"B"]

0.3519513726828123

In [10]:
df.loc[2,"B"]=1

In [11]:
df

          A         B         C
1 -1.386738 -0.608493 -0.636761
2 -0.033372  1.000000  0.439233
3 -0.073011 -0.231896  1.081203
4  0.456821 -1.832951  1.363429
5 -0.475304 -1.036688 -0.435315

In [12]:
df.loc[df.B>0,"C"]=0

In [13]:
df

          A         B         C
1 -1.386738 -0.608493 -0.636761
2 -0.033372  1.000000  0.000000
3 -0.073011 -0.231896  1.081203
4  0.456821 -1.832951  1.363429
5 -0.475304 -1.036688 -0.435315